@import 'mixins'

$background-color: #{"{{ theme.background_color }}"}

$primary-text-color: #{"{{ theme.primary_text_color }}"}

$link-hover-color: #{"{{ theme.link_hover_color }}"}

$border-color: #{"{{ theme.border_color }}"}

$store-name-heading-size-numeric: #{"{{ theme.store_name_heading_base_size }}"}

$logo-max-height-numeric: #{"{{ theme.logo_image_height }}"}

$button-text-color: #{"{{ theme.button_text_color }}"}
$button-background-color: #{"{{ theme.button_background_color }}"}

$badge-text-color-primary: #{"{{ theme.badge_text_color_primary }}"}
$badge-background-color-primary: #{"{{ theme.badge_background_color_primary }}"}
$badge-text-color_secondary: #{"{{ theme.badge_text_color_secondary }}"}
$badge-background-color-secondary: #{"{{ theme.badge_background_color_secondary }}"}

$inventory-status-text-color: #{"{{ theme.inventory_status_text_color }}"}

$button-hover-text-color: #{"{{ theme.button_hover_text_color }}"}
$button-hover-background-color: #{"{{ theme.button_hover_background_color }}"}

$error-text-color: #FFFFFF
$error-background-color: #9D0B1C

$announcement-text-color: #{"{{ theme.announcement_text_color }}"}
$announcement-background-color: #{"{{ theme.announcement_background_color }}"}

$primary-font: #{"{{ theme.primary_font | font_family }}"}

$base-padding: 8px
$border-radius: 4px

$break-extra-large: 1500px
$break-large: 1200px
$break-medium: 1023px
$break-product-details: 968px
$break-small: 767px
$break-extra-small: 640px

$product-detail-alignment: #{"{% if theme.show_overlay contains 'left' %} left {% else %} center {% endif %}"}

$large-border: 8px solid $border-color
$medium-border: 4px solid $border-color
$small-border: 2px solid $border-color

$min_width: 320px
$max_width: 1200px
$min_font: 16px
$max_font: 24px

\:root
  --border-radius: 0

  // Featured video customizations
  --video-rounded-radius: 8px
  --video-size-small: 400px
  --video-size-medium: 550px
  --video-size-large: 100%
