@import 'flexbox'

$background-color: #{"{{ theme.background_color }}"}

$primary-text-color: #{"{{ theme.primary_text_color }}"}

$border-color: #{"{{ theme.border_color }}"}

$primary-font: #{"{{ theme.primary_font | font_family }}"}

$base-padding: 8px
$luna-font-base-px: 16px
$border-radius: 4px

$break-extra-large: 1500px
$break-large: 1200px
$break-medium: 1023px
$break-small: 767px
$break-extra-small: 640px

$border-style: #{"{{ theme.border_style }}"}

$large-border: 8px solid $border-color
$medium-border: 4px solid $border-color
$small-border: 2px solid $border-color