@import 'variables'


.cart-empty-message
  +all-transitions
  opacity: 0
  visibility: hidden

  .empty-cart &
    opacity: 1
    visibility: visible

.cart-items
  border-bottom: $small-border
  list-style: none
  margin: 0
  padding: 0
  width: 100%

.cart-item
  +flexbox
  +align-items(center)
  +flex-wrap(wrap)
  border-bottom: $small-border
  padding: $base-padding * 2 0

  &:last-child
    border-bottom: none

.cart-item-remove
  margin-right: $base-padding * 2
  padding: 0
  height: 24px
  width: 24px

  svg
    display: block
    height: 20px
    width: 20px

.cart-item-image
  +flex-shrink(0)
  height: 112px
  overflow: hidden
  width: 112px

  @media screen and (max-width: $break-small)
    height: 96px
    width: 96px

  img
    display: block
    height: 100%
    object-fit: cover
    width: 100%

.cart-item-details
  color: $primary-text-color
  margin-left: $base-padding * 2
  padding-right: $base-padding * 3
  text-decoration: none
  width: 50%

.cart-item-details-name
  font-size: 20px
  font-weight: 600

.cart-item-details-option
  font-size: 16px
  line-height: 1.5em
  margin-top: $base-padding

.cart-item-details-unit-price
  +flex-shrink(0)
  margin-left: auto
  font-size: 20px
  text-align: right

.cart-item-quantity-holder
  +flexbox
  +align-items(center)
  padding-left: $base-padding * 4
  padding-right: $base-padding * 4

  .option-quantity
    +appearance(none)
    background: none
    border: none
    border-bottom: $medium-border
    border-radius: 0
    font-family: $primary-font
    font-size: 20px
    font-weight: 600
    height: 100%
    margin: 0 $base-padding
    text-align: center
    width: $base-padding * 6

  .qty-button
    height: 20px
    line-height: 1em
    padding: 0
    width: 20px

    svg
      display: block
      height: 20px
      width: 20px

.cart-item-details-price
  +flex-shrink(0)
  font-size: 20px
  font-weight: 600

.cart-footer
  padding-bottom: $base-padding * 2
  text-align: right

.cart-sub-footer
  +flexbox
  +align-items(center)
  border-bottom: $medium-border
  margin-bottom: $base-padding * 2
  padding: $base-padding 0

.cart-subtotal
  +flexbox
  +align-items(center)
  font-size: 16px
  margin-left: auto

  .cart-subtotal-amount
    font-size: 24px
    font-weight: bold
    margin-left: $base-padding * 2

.checkout-button
  font-size: 20px
  font-weight: bold
  height: 64px
  line-height: 64px
  margin-left: auto
  max-width: 256px
  padding: 0 $base-padding * 2
  width: 100%

  @media screen and (max-width: $break-small)
    margin-left: 0
    max-width: 100%

.cart-empty-message
  margin-top: $base-padding * 8
  text-align: center

.cart-empty-header
  font-size: 24px
  font-weight: bold
  margin-bottom: $base-padding * 4

.start-shopping-button
  font-size: 20px
  font-weight: bold
  height: 64px
  line-height: 64px
  margin: 0 auto
  width: 340px

