@import 'variables'

.contact-form
  max-width: 100%
  width: 100%

  .contact-form-group
    border: $small-border
    display: block
    margin: $base-padding * 2 auto
    position: relative
    width: 100%

    input, textarea
      border: $small-border
      border-color: transparent
      display: block
      height: 56px
      padding: $base-padding
      width: 100%

      &:active, &:focus
        border-color: $border-color
        outline: none

    &.contact-captcha
      margin-bottom: 40px

    .form-label
      +all-transitions
      background-color: transparent
      color: $primary-text-color
      cursor: text
      font-size: 20px
      font-weight: bold
      left: $base-padding
      position: absolute
      top: $base-padding * 2
      opacity: .6

    &.contact-send
      margin-top: $base-padding

  .focused .form-label
    font-size: 12px
    left: $base-padding + 2
    transform: translateY(-55%)
    opacity: 1

  .focused input, .focused textarea
    padding-top: $base-padding * 3

  #captcha_image
    border-left: $small-border
    height: 56px
    position: absolute
    right: 0
    top: 0

  .captcha-instructions
    margin-top: $base-padding

  .send-message-button
    display: block
    line-height: $base-padding
