@import 'variables'

.full-width.no-gutters

  header
    padding-left: $base-padding
    padding-right: $base-padding

  .outer-wrapper
    padding-left: 0
    padding-right: 0

  .page-title
    padding-left: $base-padding
    padding-right: $base-padding

  .page-subheading
    padding-left: $base-padding
    padding-right: $base-padding

  .product-option-select-container
    padding: 0 $base-padding

  .product-option-select-container svg
    right: $base-padding

  .product-description, .product-inventory
    padding-left: $base-padding
    padding-right: $base-padding

  .cart-item
    padding-left: $base-padding
    padding-right: $base-padding

  .cart-sub-footer
    padding-left: $base-padding
    padding-right: $base-padding
