@import 'variables'

::-webkit-input-placeholder
  color: $primary-text-color
  opacity: .8

::-moz-placeholder
  color: $primary-text-color
  opacity: .8

\:-ms-input-placeholder
  color: $primary-text-color
  opacity: .8

\:-moz-placeholder
  color: $primary-text-color
  opacity: .8

*
  box-sizing: border-box
  text-transform: #{"{% if theme.uppercase_text %} uppercase {% endif%}"}

a
  color: $primary-text-color

  &:active
    opacity: .7

  &:hover, &:focus
    color: $link-hover-color

button, input, textarea, select
  +appearance(none)
  background: none
  border: none
  border-radius: 0
  color: $primary-text-color
  font-family: $primary-font
  padding: 0

html, body
  height: 100%
  margin: 0
  padding: 0

html
  background-color: $background-color

  &.fixed-background
    background-image: #{"{% if theme.images.background_image != blank %}url(\'{{ theme.images.background_image.url | constrain: 1200, 1200 }}\') {% else %}none{% endif %}"}
    background-attachment: fixed
    background-repeat: no-repeat
    background-size: cover

  &.repeating-background
    background-image: #{"{% if theme.images.background_image != blank %}url(\'{{ theme.images.background_image.url }}\') {% else %}none{% endif %}"}
    background-repeat: repeat

body
  background-color: #{"{% unless theme.images.background_image != blank %} {{ theme.background_color }} {% endunless %}"}
  color: $primary-text-color
  font-family: $primary-font
  font-size: 16px
  font-weight: normal
  line-height: 1.5em
  position: relative

  &.no-scroll
    overflow: hidden

.background-image-overlay
  height: 100%
  left: 0
  position: fixed
  top: 0
  z-index: -1
  width: 100%

  &.background-image-overlay-transparent_color_overlay
    background-color: $background-color
    opacity: .9

  &.background-image-overlay-gradient_overlay

.header-above
  border-bottom: $large-border

  @media screen and (max-width: $break-small)
    display: none

.upper-nav
  +flexbox
  +flex-direction(row)
  padding-top: $base-padding * 4
  margin-bottom: $base-padding * 3

.above-nav-section
  border-top: $medium-border
  +flex(1 1 25%)
  margin-right: $base-padding * 4
  padding-top: $base-padding
  position: relative

  .sidebar-nav-links
    margin-bottom: 0
    max-height: 158px
    overflow: auto

  &:last-of-type
    margin-right: 0

.scroll-more
  bottom: -2px
  display: none
  height: 31px
  position: absolute
  width: 100%

.above-nav-section-title
  font-weight: bold
  font-size: 24px
  margin-bottom: $base-padding

.secondary-above-header-nav
  +flexbox
  +justify-content(flex-end)
  padding-bottom: $base-padding

  .header-cart-icon
    margin-right: 40px !important
    position: relative
    top: 4px

header
  border-bottom: $large-border
  padding: 0

  @media screen and (min-width: $break-small +1)
    .above-header &
      display: none

    .sidebar-no-header &
      display: none

.outer-wrapper
  +flexbox
  +flex-direction(column)
  min-height: 100%
  margin: 0 auto
  padding: 0 $base-padding * 2
  width: 100%

  &.fixed-width
    max-width: 1040px

.header-wrapper
  +flexbox
  +align-items(center)
  +justify-content(center)
  padding: $base-padding * 3 0
  position: relative

  @media screen and (max-width: $break-small)
    padding: $base-padding * 2 0

  &.header-left-align
    +justify-content(space-between)
    padding-left: $base-padding * 8

    .below-header &
      padding-left: 0

    @media screen and (max-width: $break-small)
      padding-left: $base-padding * 6 !important

    &.hide-toggle
      padding-left: 0

    .header-branding
      text-align: left

      .above-header &
        @media screen and (min-width: $break-small +1)
          max-width: 100%

    .header-cart
      position: relative

.open-menu
  background: none
  border: none
  color: $primary-text-color
  height: 24px
  left: 0
  padding: 0
  position: absolute
  margin: 0

  .hamburger-box
    display: block

  @media screen and (min-width: $break-small +1)
    .right-sidebar &
      left: auto
      right: 0

  .no-sidebar &, .hide-toggle &
    display: none

  &:hover, &:focus
    background: none
    color: $link-hover-color

    .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after
      background-color: $link-hover-color

  @media screen and (max-width: $break-small)
    display: block !important

.header-branding
  max-width: 60%
  text-align: center
  width: 100%

  @media screen and (max-width: $break-small)
    .sidebar &
      display: none

  @media screen and (min-width: $break-small +1)
    .sidebar-no-header &
      border-bottom: $large-border
      max-width: 100%
      padding-bottom: $base-padding * 2
      text-align: left

    .above-header &
      max-width: 100%
      text-align: left

.header-home-link
  +fluid-type(18px, 64px)
  color: $primary-text-color
  display: block
  font-weight: bold
  line-height: 1em
  text-align: center
  text-decoration: none

  .header-left-align &
    text-align: left !important

    @media screen and (min-width: $break-small +1)
      .store-logo
        margin: 0

  .sidebar-no-header &
    +fluid-type(18px, 40px)

    @media screen and (min-width: $break-small +1)
      text-align: left

  @media screen and (min-width: $break-small +1)
    .above-header &
      text-align: left

.store-logo
  display: block
  margin: 0 auto
  max-width: 100%

  @media screen and (max-width: $break-small)
    max-height: 70px

    .header-left-align &
      margin: 0

  @media screen and (min-width: $break-small +1)
    .above-header &
      margin: 0
      max-height: none
      max-width: 60%

.header-cart
  +flexbox
  +align-items(center)
  +justify-content(center)
  font-size: 1.5em
  font-weight: bold
  position: absolute
  right: 0
  text-decoration: none

  &.upper-nav-cart
    +flexbox
    height: 100%
    line-height: 1.25em
    position: relative

  @media screen and (min-width: $break-small +1)
    .right-sidebar &
      left: 0
      right: auto

  .header-cart-icon
    margin-right: $base-padding

    svg
      fill: $primary-text-color

  &:hover, &:focus
    svg
      fill: $link-hover-color

    .header-cart-count
      border-right-color: $link-hover-color

  @media screen and (max-width: $break-small)
    display: block !important

  .header-cart-count
    border-right: $small-border
    padding-right: $base-padding
    margin-right: $base-padding

    @media screen and (max-width: $break-small)
      border-right: 0
      margin-right: 0
      padding-right: 0

  .header-cart-total
    @media screen and (max-width: $break-small)
      display: none

.content-wrapper
  +flexbox
  +flex(1)

  &.under-header
    +flex-direction(column)

  &.has-sidebar
    +flex-direction(row)

  @media screen and (min-width: $break-small +1)
    .right-sidebar &

      .sidebar
        order: 2
        padding-left: $base-padding * 4
        padding-right: 0

      .main
        order: 1

_:-ms-fullscreen, :root .content-wrapper
  +flex(1 0 auto)

.horizontal-navigation-bar
  +flexbox
  +flex(0 0 100%)
  width: 100%

  @media screen and (max-width: $break-small)
    display: none

.horizontal-nav
  +flexbox
  +flex-direction(row)
  border-bottom: $medium-border
  width: 100%

  .nav-section
    +flex-basis(160px)
    border-bottom: none
    margin-right: $base-padding * 2
    position: relative
    z-index: 2

    &:last-child
      margin-left: auto
      margin-right: 0

  .nav-cart-link
    +flexbox
    font-weight: bold
    padding: $base-padding 0
    text-decoration: none

    .sidebar-cart-count
      border-right: $small-border
      padding-right: $base-padding
      margin-left: auto
      margin-right: $base-padding

  .nav-section-search + .nav-section-cart
    margin-left: auto

.sidebar
  +flex(0 0 256px)
  order: 1
  padding-bottom: $base-padding * 8
  padding-right: $base-padding * 2
  width: 256px

  @media screen and (min-width: $break-small + 1)
    .sidebar-no-header &
      padding-top: $base-padding * 2

  &.hidden
    display: none

  .no-sidebar &
    display: none

  @media screen and (max-width: $break-small)
    +flex(0 0 100%)
    display: none

  &.visible-mobile
    background-color: $background-color
    display: block
    left: 0
    padding: 0 $base-padding * 2
    padding-bottom: $base-padding * 3
    position: absolute
    width: 100%
    z-index: 100

.sidebar-nav
  +flexbox
  +flex-direction(column)

  .nav-section
    +flex-basis(100%)
    border-bottom: $medium-border
    position: relative

    &.hidden-nav
      border-bottom: none

      .sidebar-nav-links
        display: none

  .nav-section-cart

    .has-sidebar.sidebar-header &
      display: none

    .nav-cart-link
      +flexbox
      font-size: 20px
      font-weight: bold
      padding: $base-padding 0
      text-decoration: none

      .sidebar-cart-count
        border-right: $small-border
        padding-right: $base-padding
        margin-left: auto
        margin-right: $base-padding

  .nav-section-social
    border-bottom: none
    padding-top: $base-padding

.search-form
  +flexbox

  .below-header &
    +align-items(center)
    height: 100%

  .secondary-above-header-nav &
    border-right: $small-border
    height: 100%
    margin-right: $base-padding * 2
    margin-top: 2px
    padding-right: $base-padding * 2

  .search-input
    font-family: $primary-font
    font-size: 16px
    font-weight: bold
    height: 40px
    line-height: 40px
    margin-right: $base-padding / 2
    padding: 0

    .sidebar-nav &
      font-size: 20px
      width: calc(100% - 40px)

    .secondary-above-header-nav &
      font-size: 24px
      height: auto
      line-height: 1.25em
      width: 140px

    .under-header &
      font-size: 20px

    .below-header &
      width: 140px

  .search-button
    height: auto
    margin-left: auto
    padding: 0

    svg
      display: block
      fill: $primary-text-color

.sidebar .nav-section-title
  border-bottom: $medium-border

.nav-section-title

  .toggle-nav
    +transition(none)
    display: block
    font-weight: bold
    height: auto
    line-height: $base-padding * 5
    padding: 0
    padding-right: $base-padding * 5
    position: relative
    text-align: left
    text-decoration: none
    width: 100%

    svg
      +transform(translateY(-50%))
      fill: $primary-text-color
      position: absolute
      right: 0
      top: 50%

      .under-header &
        right: 0

.nav-section-title-text
  font-weight: bold
  line-height: $base-padding * 5

.sidebar-nav-links
  line-height: 1.25em
  list-style: none
  margin: $base-padding 0
  padding: 0

  &.compact-nav-links
    line-height: 1.5em
    margin: 0

  .sidebar-nav-link

    &.medium-border
      border-bottom: $medium-border

      a
        font-size: 14px
        font-weight: bold
        padding: $base-padding 0

      &:last-of-type
        border-bottom: none

    a
      display: block
      font-weight: normal
      padding: $base-padding / 2 0
      text-decoration: none

      &:hover, &:focus
        text-decoration: underline

.social-links
  +flexbox
  +justify-content(space-between)

  a
    +flexbox
    +align-items(center)
    +justify-content(center)
    background: $button-background-color
    border-radius: 50%
    height: 40px
    text-align: center
    width: 40px

    &:hover, &:focus
      background: $button-hover-background-color

      svg
        fill: $button-hover-text-color

    .footer-nav &
      margin: 0 $base-padding / 2

    svg
      display: block
      fill: $button-text-color
      height: 20px
      width: 20px

.nav-section-credit
  border: none !important

.badge a
  display: block
  font-size: 14px
  font-weight: bold
  margin-top: $base-padding * 2
  text-decoration: none

  &:hover, &:focus
    text-decoration: underline

.main
  +flex(1)
  order: 2

  .sidebar-visible-mobile &
    display: none

.page-heading
  +flexbox
  +align-items(center)
  border-bottom: $small-border

footer
  +flexbox
  flex-shrink: 0

  .social-links
    +justify-content(space-around)

  .footer-nav
    +flexbox
    +flex-direction(column)
    +align-items(center)
    +justify-content(center)
    border-top: $medium-border
    padding: $base-padding * 2 0
    width: 100%

    .has-sidebar &
      display: none

  .nav-section-social + .nav-section-credit
    margin-top: $base-padding * 2

  .badge a
    margin: 0

h1
  font-size: 2em
  font-weight: bold
  line-height: 1em
  margin: 0
  padding: $base-padding 0

.button
  background-color: $button-background-color
  color: $button-text-color
  cursor: pointer
  display: block
  font-size: 16px
  height: 55px
  line-height: 1em
  text-align: center
  text-decoration: none

  &.min-btn
    background: none
    color: $primary-text-color
    display: inline-block
    font-weight: bold

    &:hover, &:focus
      background: none
      color: $link-hover-color
      text-decoration: underline

      svg
        fill: $link-hover-color

  &:not(:disabled):hover, &:not(:disabled):focus
    background: $button-hover-background-color
    color: $button-hover-text-color
    text-decoration: none

    svg
      fill: $button-hover-text-color

  &[disabled]
    cursor: not-allowed
    opacity: .3

    &:hover, &:focus
      background: $button-background-color
      color: $button-text-color

.has-right-icon
  +flexbox
  +align-items(center)
  +justify-content(center)
  padding: $base-padding * 2

  .button-icon-right-arrow
    fill: $button-text-color
    margin-left: auto

.visually-hidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.announcement-message
  background-color: $announcement-background-color
  color: $announcement-text-color
  display: none
  padding: $base-padding * 2 $base-padding * 6
  position: relative
  text-align: center

  &.visible
    display: block

.button.announcement-message-close
  +transform(translateY(-50%))
  +transition(none)
  background: none
  position: absolute
  right: $base-padding * 2
  top: 50%

  &:hover, &:focus
    background: none !important
    opacity: .7

    svg
      fill: $announcement-text-color

  svg
    fill: $announcement-text-color

.errors
  background: $error-background-color
  color: $error-text-color
  list-style: none
  padding: $base-padding * 2
  text-align: center

.currency_code
  font-weight: normal

