@import 'variables'

.quick-shop-modal
  height: 100vh
  left: 0
  opacity: 0
  position: fixed
  top: 0
  visibility: hidden
  width: 100vw
  z-index: 1000

  &.opened
    opacity: 1
    visibility: visible

.quick-shop-modal-content
  +transform(translateX(-50%) translateY(-20%))
  background: $background-color
  border: $medium-border
  height: 80vh
  left: 50%
  max-width: 1024px
  overflow: scroll
  padding: $base-padding $base-padding * 3
  position: fixed
  top: 20%
  width: 100%
  z-index: 1001

.quick-shop-modal-background
  background-color: $background-color
  height: 100%
  opacity: .9
  width: 100%

.quick-shop-modal-controls
  +flexbox
  +align-items(center)
  +justify-content(flex-end)
  border-bottom: $medium-border

.quick-shop-modal-button
  background: none
  padding: $base-padding

  svg
    fill: $primary-text-color
    height: 24px
    width: 24px

.quick-shop-close
  margin-right: auto

.quick-shop-product-details
  overflow-x: scroll
  padding-top: $base-padding * 2
  width: 100%

  .related-products-container
    display: none