<div class="page-heading">
  <h1 class="page-title">{{ page.name }}</h1>
</div>
{% if cart.items != blank %}
  <form class="cart-form" method="post" action="/cart">
    {% for item in cart.items %}
      <img src="{{ item.product.image | constrain: 300, 300 }}">

      <a href="{{ item.product.url }}">
        {{ item.product.name }}
      </a>

      {% unless item.product.has_default_option %}
        {{ item.option.name }}
      {% endunless %}

      <label for="item_{{item.id}}_qty">Quantity</label>
      {{ item | item_quantity_input, nil, 'option-quantity' }}

      {{ item.unit_price | money: theme.money_format }}

      <button title="Remove item: {{ item.product.name | escape }}" class="cart-item-remove" aria-label="Remove item: {{ item.product.name | escape }}">
    {% endfor %}

    Subtotal: {{ cart.subtotal | money: theme.money_format }}

    Total: {{ cart.total | money: theme.money_format }}

    <a href="/products">Continue shopping</a>

    <button type="submit" name="checkout" class="button checkout-btn">Checkout</button>
  </form>
{% else %}
  <div>Your cart is empty! Sounds like a good time to start shopping.</div>
{% endif %}