<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.name }} | {{ store.name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{{ theme | theme_css_url }}" media="screen" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    {{ head_content }}
  </head>

  <body id="{{ page.permalink }}_page" class="{{ page.category }}">
    {% if theme.announcement_message_text != blank %}
      <aside role="complementary" aria-label="Announcement message" class="announcement-message">
        <div class="announcement-message-text">{{ theme.announcement_message_text }}</div>
        <button aria-label="Close announcement" class="announcement-message-close" title="Close announcement message">
          <svg width="11" height="11" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.5 1.45l-8 8.1m0-8.1l8 8.1" stroke="#666" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"/>
          </svg>
        </button>
      </aside>
    {% endif %}
    <div class="outer-wrapper {% if theme.layout_style == 'fixed_width' %}fixed-width{% endif %}">
      <header>
        <div class="wrapper header-wrapper ">
          <div class="header-branding">
            <a class="header-home-link" href="/" title="Home">
              {% if theme.images.header != blank %}
                <img class="store-logo" src="{{ theme.images.header.url | constrain: 1800, 500 }}" alt="{{ store.name }} Home">
              {% else %}
                {{ store.name }}
              {% endif %}
            </a>
          </div>

          <a href="/cart" class="header-cart">
            <span class="header-cart-text">Cart</span>
            <span class="header-cart-count">{{ cart.item_count }}</span>
            <span class="header-cart-total">{{ cart.total | money: theme.money_format }}</span>
          </a>

        </div>
      </header>

      <div class="content-wrapper{% if theme.sidebar_position == 'right' %} right-sidebar{% endif %}">
        <aside class="sidebar">
          <nav class="sidebar-nav" role="navigation" aria-label="Main">
            {% if theme.show_search %}
              <form class="search-form" name="search" action="/products" method="get" accept-charset="utf8">
                <input type="hidden" name="utf8" value='✓'>
                <input class="search-input" name="search" placeholder="Search..." type="text" autocomplete="off" />
                <button class="search-button" type="submit">Go</button>
              </form>
            {% endif %}
            <ul class="sidebar-nav-links">
              <li><a href="/products">Products</a></li>
              <li><a href="/products">View All</a></li>
              {% if categories.active != blank or artists.active != blank %}
                {% if categories.active != blank %}
                  {% for category in categories.active %}
                    <li>{{ category | link_to }}</li>
                  {% endfor %}
                {% endif %}
                {% if artists.active != blank %}
                  {% for artist in artists.active %}
                    <li>{{ artist | link_to }}</li>
                  {% endfor %}
                {% endif %}
              {% endif %}


              {% for page in pages.all %}
                <li>{{ page | link_to }}</li>
              {% endfor %}
              <li><a href="/contact">Contact</a></li>
              {% if store.website != blank %}
                <a href="{{ store.website }}">Back to site</a>
              {% endif %}
            </ul>
            {% if theme.twitter_url != blank or theme.facebook_url != blank or theme.instagram_url != blank or theme.tumblr_url != blank or theme.pinterest_url != blank %}
              <ul class="social-links">
                {% if theme.twitter_url != blank %}
                  <li><a title="Twitter" href="{{ theme.twitter_url }}" aria-label="Twitter"></a></li>
                {% endif %}
                {% if theme.facebook_url != blank %}
                  <li><a title="Facebook" href="{{ theme.facebook_url }}" aria-label="Facebook"></a></li>
                {% endif %}
                {% if theme.instagram_url != blank %}
                  <li><a title="Instagram" href="{{ theme.instagram_url }}" aria-label="Instagram"></a></li>
                {% endif %}
                {% if theme.tumblr_url != blank %}
                  <li><a title="Tumblr" href="{{ theme.tumblr_url }}" aria-label="Tumblr"></a></li>
                {% endif %}
                {% if theme.pinterest_url != blank %}
                  <li><a title="Pinterest" href="{{ theme.pinterest_url }}" aria-label="Pinterest"></a></li>
                {% endif %}
              </ul>
            {% endif %}
            <div class="badge">{{ bigcartel_credit }}</div>
          </nav>
        </aside>

        <main class="main">
          {% if errors != blank %}
            <ul class="errors {{ page.permalink }}-errors">
              {% for error in errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if page.category == 'custom' %}
            <div class="custom-page">
              <div class="page-heading">
                <h1 class="custom-page-header page-title">{{ page.name }}</h1>
              </div>
              <div class="custom-page-content">{{ page_content | paragraphs }}</div>
            </div>
          {% else %}
            {{ page_content }}
          {% endif %}
        </main>
      </div>
      <footer role="contentinfo">
        <nav class="footer-nav" id="footer" role="navigation" aria-label="Footer">
          <ul class="footer-links">
            {% for page in pages.all %}
              {{ page | link_to }}
            {% endfor %}
          </ul>
        </nav>
      </footer>
    </div>
    <script>
      var show_sold_out_product_options = '{{ theme.show_sold_out_product_options }}';
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ 'api' | theme_js_url }}"></script>
    <script src="{{ theme | theme_js_url }}"></script>
    {% if page.full_url contains '/product/' %}
      <script>
        Product.find('{{ product.permalink }}', processProduct)
      </script>
    {% endif %}
  </body>
</html>
