{% assign product_status = '' %}
{% case product.status %}
  {% when 'active' %}
    {% if product.on_sale %}{% assign product_status = 'On sale' %}{% endif %}
  {% when 'sold-out' %}
    {% assign product_status = 'Sold out' %}
  {% when 'coming-soon' %}
    {% assign product_status = 'Coming soon' %}
{% endcase %}

<div class="page-heading product-heading">
  <h1 class="page-title">{{ page.name }}</h1>
</div>

<div class="page-subheading">
  <div class="page-subheading-price">
    {% if product.variable_pricing %}
      {{ product.min_price | money: theme.money_format }} - {{ product.max_price | money: theme.money_format }}
    {% else %}
      {{ product.default_price | money: theme.money_format }}
    {% endif %}
  </div>
  {% if product_status != blank %}
    <div class="page-subheading-status">
      {{ product_status }}
    </div>
  {% endif %}
</div>

<div class="product-page-columns">
  <div class="product-images">
    <img src="{{ product.image | product_image_url | constrain: 1000 }}" data-zoom="{{ product.image | product_image_url | constrain: 1000 }}" alt="Image of {{ product.name | escape }}" class="primary-product-image">

    {% for image in product.images offset: 1 %}
      <img src="{{ image | product_image_url | constrain: 1000 }}" data-zoom="{{ image | product_image_url | constrain: 1000 }}" alt="Image of {{ product.name | escape }}">
    {% endfor %}
  </div>

  <div class="product-details">
    {% if product.status == 'active' %}
      <form method="post" class="product-form {% if theme.show_sold_out_product_options %}show-sold-out{% else %}hide-sold-out{% endif %}" action="/cart" accept-charset="utf8">
        <input type="hidden" name="utf8" value='✓'>
        {% if product.has_default_option %}
          {{ product.option | hidden_option_input }}
        {% else %}
          <div class="product-options-container">
            {% if product.has_option_groups %}
              <div class="product-option-groups">
                <input id="option" name="cart[add][id]" type="hidden" value="0">
                {% for option_group in product.option_groups %}
                  <div class="select product-option-select-container form-group">
                    <label class="form-label product-option-label" for="option_group_{{ option_group.id }}">{{ option_group.name }}</label>
                    <select data-unavailable-text="(Unavailable)" data-sold-text="(Sold out)" id="option_group_{{ option_group.id }}" data-group-id="{{ option_group.id }}" data-group-name="{{ option_group.name | escape }}" class="product-option-group shrink-label" name="option_group[{{ option_group.id }}]" aria-label="Select {{ option_group.name | escape }}">
                      <option value="0" disabled="disabled" selected>Select {{ option_group.name }}</option>
                      {% for value in option_group.values %}
                        <option value="{{ value.id }}" data-name="{{ value.name | escape }}">{{ value.name }}</option>
                      {% endfor %}
                    </select>
                    <svg aria-hidden="true" width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg"><path d="M5.99798228 7.12260396L0 1.12462168 1.12462168 0l4.87565104 4.87529072L10.8753783 0 12 1.12462168 6.00201772 7.12260396l-.001745-.00212061z" fill-rule="evenodd"/></svg>
                  </div>
                {% endfor %}
              </div>
            {% else %}
              <div class="select product-option-select-container form-group">
                <label class="form-label product-option-label" for="option">Option</label>
                <select class="product-option-select shrink-label" id="option" name="cart[add][id]" aria-label="Select option">
                  <option value="0" disabled="disabled" selected>Select option</option>
                  {% for option in product.options %}
                    <option value="{{ option.id }}" data-price="{{ option.price }}"{% if option.sold_out %} disabled="disabled" disabled-type="sold-out"{% endif %}>{{ option.name }} {% if option.sold_out %} (Sold out){% endif %}</option>
                  {% endfor %}
                </select>
                <svg aria-hidden="true" width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg"><path d="M5.99798228 7.12260396L0 1.12462168 1.12462168 0l4.87565104 4.87529072L10.8753783 0 12 1.12462168 6.00201772 7.12260396l-.001745-.00212061z" fill-rule="evenodd"/></svg>
              </div>
            {% endif %}
          </div>
        {% endif %}
        <div class="product-form-controls">
          <div class="product-form-quantity-button">
            <div class="product-form-quantity">
              <label class="product-quantity-label" for="product-quantity" aria-label="Enter quantity">Qty</label>
              <input autocomplete="off" type="number" class="product-quantity" id="quantity" name="cart[add][quantity]" type="text" min="1" value="1">
            </div>

            <button class="button add-to-cart-button" name="submit" type="submit" title="Add to Cart" data-adding-text="Adding..." data-added-text="Added!" data-add-title="Add to Cart" data-sold-title="Sold out"{% if product.has_default_option %}{% else %}disabled="disabled"{% endif %}>
              <span class="button-add-text">Add to Cart</span>
              <span class="button-add-price {% if product.has_default_option %} visible{% endif %}">{{ product.default_price | money: theme.money_format }}</span>
              <span class="button-add-icon"><svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M9 0v7h7v2H9v7H7V8.999L0 9V7l7-.001V0z" fill-rule="evenodd"/></svg></span>
            </button>
          </div>

          {% if product.has_option_groups %}
            <div class="reset-selection-button-container">
              <button class="button minimal-button reset-selection-button" type="reset">Reset selection</button>
            </div>
          {% endif %}

          <!--
          {{ store | instant_checkout_button: 'dark', '44px' }}
          -->
        </div>
      </form>
    {% endif %}

    {% if product.description != blank %}
      <div class="product-description">
        {{ product.description | paragraphs }}
      </div>
    {% endif %}

    {% if theme.show_inventory_bars %}
      <div class="product-inventory">
        <ul class="inventory-bars">
          {% for option in product.options %}
            <li class="inventory-bar">
              {% unless product.has_default_option %}
                <div class="inventory-option-name">{{ option.name }}</div>
              {% endunless %}
              <div class="inventory-option-bar">
                <div class="inventory-option-percentage" style="width:{{ option.inventory }}%;"></div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</div>
